  body {
      font: 400 15px/1.8 Lato, sans-serif;
<<<<<<< HEAD
      color: #333;
      background: white !important;
=======
      color: #777;
>>>>>>> 77f1e6dcfac9cd8089f2726cced5e152e3202d89
  }
  h3, h4 {
      margin: 10px 0 30px 0;
      letter-spacing: 10px;
      font-size: 20px;
      color: #111;
  }
  .container {
      padding: 80px 120px;
  }
<<<<<<< HEAD
  .zindexed{
    z-index: 2;
  }
  
=======

>>>>>>> 77f1e6dcfac9cd8089f2726cced5e152e3202d89
  .person {
      border: 10px solid transparent;
      margin-bottom: 25px;
      width: 80%;
      height: 80%;
  }
  .person:hover {
      border-color: #f1f1f1;
  }
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
  }
  .carousel-caption h3 {
      color: #fff !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide ( CAROUSEL TEXT YET TO SEPECIFY)*/
    }
  }
  .bg-1 {
      background: #2d2d30;
      color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}

  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
  .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  .nav-tabs li a {
      color: #777;
  }
  iframe {
      width: 100%;
      height: 400px;
  }
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
  .dropdown-menu li a {
      color: black !important;
  }
  .dropdown-menu li a:hover {
      background-color: red !important;
  }
  footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }
  .form-control {
      border-radius: 0;
  }
  textarea {
      resize: none;
  }
.text-center{
  width: 100%;
}
img:hover {
    border:   none;
}
#about{
  margin-top:   30px;
  width:  90%;
}

.hidden{
  display:  none;
}
.logo{
  display:  inline;
  width:  150px;
  height:   100px;
  margin-top:   -55px;
}
span h1{
  display:  inline;
  font-size:  6em
}
.maincont{
  text-align:   center;
  padding-bottom:   20px;
}
@media only screen and (max-width: 424px){
  .logo{
    margin-top: 10px;
  }
}
#myCarousel img{
  height:   80vh;
  object-fit:   cover;
}
.googleMap{
  pointer-events:   none;
}
/*sub menu*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*end of sub menu*/



/*Custom card layout*/

.cust-grid{
  width: 90%;
  display: inline-block;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 10px;

}
.image{
  max-width: 100%;
}
@media only screen and (min-width: 480px)
{
  .cust-grid{
  width: calc((100% - 41px) / 2);
  }
}

@media only screen and (min-width: 768px)
{
  .cust-grid{
  width: calc((100% - 70px) / 3);
  margin: 10px;

  }
}
.flexing{
  display: inline-flex;
}


.mycard{
  transition: all .5s;
  overflow-y: hidden;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.centered{
  text-align: center;
}
.pname{
      margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mycard:hover{
  box-shadow: 0px 0px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transform: scale(1.01);
}

.myname{
  transition: all 1s;
}

  .footing{
    height: 0px;
  }

/*End of Custom Card Layout*/